<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>SU datepicker demo</title>
  <link rel="stylesheet" href="lib/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="demo/styles.css"/>
  <script src="lib/angular/1.2.29/angular/angular.js"></script>
  <script src="dist/su-datepicker.js"></script>
  <script src="demo/suFlightDatepickerDirective.js"></script>
  <script src="demo/app.js"></script>
</head>

<body ng-app="app">
  <h1>StudentUniverse angular date range picker</h1>
  <section ng-controller="rawMonthExampleCtrl" style="margin-bottom: 225px;">
    <h3>Raw month picker picker</h3>
    <ul>
      <li>date is required and is used to track which month is displayed</li>
      <li>clickCallback will be called with the date that was clicked</li>
      <li>dateDisabled callback will be called to determine if date is enabled</li>
      <li>customClass callback will be called to set custom styles</li>
      <li>cheapMousernterCallback will be called when a date is hovered.
        Callback must trigger $digest manually for performance reasons.
      </li>
    </ul>
    <div>
      <input type="text" ng-model="date" readonly="true" su-datepicker-date-parser/>
    </div>
    <div>
      <button ng-click="previousMonth()">Previous</button>
      <span ng-bind="date.getMonth() | suDatepickerMonthText"></span>
      <button ng-click="nextMonth()">Next</button>
      <su-datepicker-month-default
        date="date"
        click-callback="dateClicked(date)"
        date-disabled="isDisabled(date)"
        custom-class="getDateClass(date)"
        cheap-mouseenter-callback="cheapHover(date)">
        </su-datepicker-month-default>
    </div>
    <p>If you need further customizations you can use su-datepicker-month directive</p>
  </section>

  <section ng-controller="defaultDatepickerExampleCtrl" style="margin-bottom: 225px;">
    <h3>Default datepicker encompases the raw month picker logic</h3>
    <ul>
      <li>the date will not change by changing month</li>
      <li>date change is expected to be one way using the datepicker</li>
      <li>using disable-past attribute will disable dates less than today</li>
      <li>custom date disabled logic can be used by supplying a is-date-disabled callback</li>
      <li>custom date click callback can be used by supplying a select-date callback</li>
      <li>custom mouseenter logic can be used by supplying cheap-mouseenter-callback</li>
      <li>custom date class logic can be used by supplying custom-class callback</li>
    </ui>
    <div>
      <input type="text" ng-model="date" readonly="true" su-datepicker-date-parser/>
    </div>
    <su-datepicker-default date="date" disable-past></su-datepicker-default>
    <p>Custom template can be used by adding template-url attribute</p>
  </section>

  <section ng-controller="suFlightDatepickerExampleCtrl" style="margin-bottom: 225px;">
    <h3>Default date range picker encompases the raw month picker logic</h3>
    <ul>
      <li>the date will not change by changing month</li>
      <li>date change is expected to be one way using the datepicker</li>
      <li>using disable-past attribute will disable dates less than today</li>
      <li>custom date disabled logic can be used by supplying a is-date-disabled callback</li>
      <li>custom date click callback can be used by supplying a select-date callback</li>
      <li>custom mouseenter logic can be used by supplying cheap-mouseenter-callback</li>
      <li>custom date class logic can be used by supplying custom-class callback</li>
    </ui>
    <div>
      <label>start:<input type="text" ng-model="start" readonly="true" su-datepicker-date-parser/></label>
      <label>end:<input type="text" ng-model="end" readonly="true" su-datepicker-date-parser/></label>
    </div>
    <su-datepicker-range-default start-date="start"
      is-date-disabled="isDateDisabled(date)"
      on-date-select="onDateSelect(date)"
      cheap-mouseenter-callback="setPotentialDate(date)"
      custom-class="getDateClass(date)"
      next-month-disabled="disableNextMonth(currentDate)"
      previous-month-disabled="disablePreviousMonth(currentDate)"></su-datepicker-range-default>
  </section>
</body>

</html>
