<su-datepicker-month date="date">
  <table>
    <thead>
      <tr>
        <th class="text-center">Sun</th>
        <th class="text-center">Mon</th>
        <th class="text-center">Tue</th>
        <th class="text-center">Wed</th>
        <th class="text-center">Thu</th>
        <th class="text-center">Fri</th>
        <th class="text-center">Sat</th>
      </tr>
    </thead>
    <tbody su-datepicker-cheap-event="mouseleave" su-datepicker-cheap-event-mouseleave="cheapMouseoutCallback({date: day})">
      <tr ng-repeat="week in weeks track by $index" class="su-datepicker-week-row">
        <td ng-repeat="day in week track by $index" class="su-datepicker-day-of-week">
          <su-datepicker-day></su-datepicker-day>
        </td>
      </tr>
    </tbody>
  </table>
</su-datepicker-month>
