<div class="su-datepicker su-datepicker-range">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
          <div class="su-datepicker-change-button previous">
            <button
              tabindex="-1"
              ng-click="moveMonth(-1)"
              ng-disabled="previousMonthDisabled({currentDate: currentDateOne})">&laquo;</button>
          </div>
          <su-datepicker-header header="{{header(currentDateOne)}}"></su-datepicker-header>
          <div>
            <su-datepicker-month-default
              date="currentDateOne"
              click-callback="onDateSelect({date: date})"
              date-disabled="isDateDisabled(date)"
              custom-class="customClass({date: date})"
              cheap-mouseenter-callback="cheapMouseenterCallback({date: date})">
            </su-datepicker-month-default>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <su-datepicker-header header="{{header(currentDateTwo)}}"></su-datepicker-header>
          <div class="su-datepicker-change-button next">
            <button
              tabindex="-1"
              ng-click="moveMonth(1)"
              ng-disabled="nextMonthDisabled({currentDate: currentDateTwo})">&raquo;</button>
          </div>
          <div>
            <su-datepicker-month-default
              date="currentDateTwo"
              click-callback="onDateSelect({date: date})"
              date-disabled="isDateDisabled(date)"
              custom-class="customClass({date: date})"
              cheap-mouseenter-callback="cheapMouseenterCallback({date: date})">
            </su-datepicker-month-default>
          </div>
        </div>
    </div>
</div>
