<su-datepicker-month date="date">
  <table>
    <thead>
      <tr>
        <th class="text-center">Sun</th>
        <th class="text-center">Mon</th>
        <th class="text-center">Tue</th>
        <th class="text-center">Wed</th>
        <th class="text-center">Thu</th>
        <th class="text-center">Fri</th>
        <th class="text-center">Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="week in weeks track by $index">
        <td ng-repeat="day in week track by $index" ng-class="customClass({date: day})" class="text-center">
          <button class="btn btn-default btn-sm"
              tabindex="-1"
              ng-if="day"
              style="width: 100%;"
              ng-click="clickCallback({date: day})"
              su-datepicker-cheap-event="mouseenter" su-datepicker-cheap-event-mouseenter="cheapMouseenterCallback({date: day})"
              ng-disabled="dateDisabled({date: day})"
              ng-bind="day.getDate()">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</su-datepicker-month>
