body {
	background: #f7f7f7;
}

h1 {
	margin-bottom: 30px;
}

/*form, h3, ul,
section:not([ng-controller="popupDatepickerExampleCtrl"]) .datepicker {
	margin-bottom: 20px;
}*/

/*section[ng-controller] {
	margin-bottom: 3em;
}

section[ng-controller]:nth-last-of-type(1) {
	margin-bottom: 30em;
}

.form-control[readonly] {
	cursor: pointer;
}

@media (min-width: 768px) {
	.datepicker-range {
		width: 544px;
	}
}

.btn[disabled] {
	background-color: #eee;
}*/

/*should be part of su-datepicker.css*/
/*.su-datepicker-day:hover {
	background: #97CBF7;
}

.su-datepicker-day .active {
	background: #428bca;
}*/


/*.active-date button,
.potential-date button,
.in-potential-date-range button {
	background: #97CBF7 !important;
}

.su-datepicker-day:hover {
	background: #428bca !important;
}

.btn-default:hover, .btn-default:focus,
.in-selected-date-range button,
.in-selected-date-range button:hover,
.in-selected-date-range button:focus {
	color: #fff;
}*/
