.su-datepicker-day:hover {
	background-color: rgba(108,177,0,0.2);
}

.active-date {
	background-color: #6cb100;
}

.active-date:hover {
	background-color: #6cb100;
}


.popup-datepicker {
    border: 1px solid rgba(0,0,0,0.15);
    box-sizing: content-box;
    padding: 5px;
   	position: absolute;
}

.popup-datepicker {
	border: 0;
    padding: 0;
}
